body {
    
    text-align: center;
}

.navbar {
    margin-bottom: 0px !important;
}
.navbar-toggler {
    color: white;
}

.landing {
    
    background-image: url(images/backgoundone.jpg);
    background-size: cover;
    height: 100vh;
}

#propic {
    border-radius: 50% !important;
    align-content: center;
}

.pic {
    border-radius: 50% !important;
    width: 150px;
    height: 150px;
    text-align: center;
}

.title {
    align-content: center !important;
}
